<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        /* Tabla que contiene la imagen */
        #table-img {
            border: 0;
        }

        .border-0 {
            border: 0;
        }

        .align-center {
            margin-left: auto;
            margin-right: auto;
        }

        .img-title {
            display: block;
            border: none;
            outline: none;
            text-decoration: none
        }

        .bg-f2f2f2{
            background-color: #F2F2F2;
        }

        .bg-f6f4f5{
            background-color: #f6f4f5;
        }

        .bg-cb4c7c{
            background-color: #cb4c7c;
        }

        .bg-ffffff{
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <table id="table-img" width="100%" cellpadding="0" cellspacing="0" class="bg-f2f2f2">
        <tbody>
            <tr>
                <td>
                    <table width="550" cellpadding="0" cellspacing="0" class="border-0 align-center">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table width="550" cellspacing="0" cellpadding="0" class="border-0 align-center">
                                        <tbody>
                                            <tr>
                                                <td class="align-center">
                                                    <div>
                                                        <a><img width="550" class="border-0" height="114"
                                                                alt="Banner de Vanu" src="<%= banner %>"></a>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="table-body" width="100%" class="bg-f2f2f2 border-0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <table width="550" cellpadding="0" cellspacing="0" class="border-0 align-center">
                        <tbody>
                            <tr>
                                <td width="100%" class="bg-f6f4f5" style="padding:20px">
                                    <table width="510" class="align-center border-0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td align="left" class="bg-ffffff"
                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:30px;padding-right:30px;padding-left:30px;padding-bottom:20px;text-align:left;line-height:22px">
                                                    <strong>Fecha: </strong><%= fecha %></td>
                                            </tr>
                                            <tr>
                                                <td align="left" class="bg-ffffff"
                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:0px;padding-right:30px;padding-left:30px;padding-bottom:0px;text-align:center;line-height:22px">
                                                    <strong><%= titulo %></strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" class="bg-ffffff"
                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:20px;padding-right:30px;padding-left:30px;padding-bottom:20px;text-align:left;line-height:16px">
                                                    <strong><%= cliente %></strong></td>
                                            </tr>
                                            <!-- <tr>
                                                <td align="left" class="bg-ffffff"
                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:10px;padding-right:30px;padding-left:30px;padding-bottom:20px;text-align:left;line-height:16px">
                                                    Tu ingreso se realizó con éxito.</td>
                                            </tr> -->

                                            <tr>
                                                <td align="left" class="bg-ffffff"
                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:0px;padding-right:30px;padding-left:30px;padding-bottom:0px;text-align:left;line-height:22px">
                                                    <table class="border-0 align-center" cellpadding="0" cellspacing="0"
                                                        style="border-collapse:collapse;border:1px solid #f6f4f5"
                                                        width="440">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="2" align="left" class="bg-cb4c7c"
                                                                    style="font-family:Arial,sans-serif;color:#fff;font-size:12px;padding-top:10px;padding-right:40px;padding-left:40px;padding-bottom:10px;text-align:center;line-height:16px">
                                                                    <strong>Detalle
                                                                    </strong></td>
                                                            </tr>

                                                            <tr>
                                                                <td width="40%" align="right" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:20px;padding-right:3px;padding-left:20px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <strong>Factura:</strong>
                                                                </td>

                                                                <td width="60%" align="left" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:20px;padding-right:3px;padding-left:3px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <%= detalle.documento %></td>
                                                            </tr>

                                                            <tr>
                                                                <td width="40%" align="right" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:20px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <strong>Número de la guía:</strong>
                                                                </td>

                                                                <td width="60%" align="left" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:3px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <%= detalle.guia %></td>
                                                            </tr>                                                            

                                                            <tr>
                                                                <td width="40%" align="right" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:20px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <strong>Destinatario:</strong>
                                                                </td>

                                                                <td width="60%" align="left" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:3px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <%= detalle.destinatario %></td>
                                                            </tr>

                                                            <tr>
                                                                <td width="40%" align="right" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:20px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <strong>Ciudad:</strong>
                                                                </td>

                                                                <td width="60%" align="left" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:3px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <%= detalle.ciudad %></td>
                                                            </tr>

                                                            <tr>
                                                                <td width="40%" align="right" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:20px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <strong>Dirección: </strong>
                                                                </td>

                                                                <td width="60%" align="left" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:3px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <%= detalle.direccion %>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td width="40%" align="right" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:20px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <strong>Contenido: </strong>
                                                                </td>

                                                                <td width="60%" align="left" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:3px;padding-bottom:5px;text-align:left;line-height:16px">
                                                                    <%= detalle.contenido %>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td width="40%" align="right" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:20px;padding-bottom:20px;text-align:left;line-height:16px">
                                                                    <strong>Total: </strong>
                                                                </td>

                                                                <td width="60%" align="left" class="bg-ffffff"
                                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:5px;padding-right:3px;padding-left:3px;padding-bottom:20px;text-align:left;line-height:16px">
                                                                    <%= detalle.total %>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" class="bg-ffffff"
                                                    style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding-top:20px;padding-right:30px;padding-left:30px;padding-bottom:40px;text-align:justify;line-height:16px">
                                                    Puedes hacer seguimiento de tu pedido ingresando al siguiente link:<br>
                                                    <strong><a href="<%= url_tracking %>" style="text-decoration: none">Link para seguimiento</a></strong><br><br>

                                                    Si no has realizado esta compra, comunícate con nosotros al &nbsp;<br>
                                                    <strong><a href="tel: +593<%= contacto.slice(1,11) %>" style="text-decoration: none"><%= contacto %></a></strong>
                                                    <br><br>
                                                    
                                                    Gracias &#x1F338; <br><br>
                                                    
                                                    Atentamente,<br> 
                                                    <strong><span class="il">Vanu</span></strong>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>